body {
    background-color: beige;
}

#footerFrame {
    display : flex;
}

#footerFrameLeft {
    flex-grow: 5;
    flex-basis: 300px;
    flex-shrink: 0;
    background-color: #e5f58b;
    gap: 10px;
    border:2px;  
    border-color: black;
    border-style: double ;
    /*height:500px*/
    padding : 5px;

}

#footerFrameRight {
    flex-grow: 2;
    flex-basis: 200px;
    background-color: #df2cbb;
    border:2px;
    border-color: black;
    border-style: double ;
    padding : 5px;
}
